/*NUESTRA HISTORIA*/
.contenedor-historia{
    margin-top: 140px;
    text-align: center;
            p{
                margin-bottom: 25px;
            }
}
.titulo-NI{
    margin-bottom: 20px;
}
.imagen-NI{
    max-width: 100%;
    border-radius: 10px;
    box-shadow: 2px 2px;
}
/* FIN NUESTRA HISTORIA */